In [1]:
# Regression Week 3 Assignment: Assessing fit using polynomial regression
# In this exercise, I will build a regression model using different polynomial degrees of a particular feature
# Data set in use is the house sales data set that has different features for each house sold
# The feature I will be interested in the sqft living feature and my target prediction is the price of the house
# So in essence I will be using different degrees of the sqft living feature to predict the price of houses
# The question now will be out of all the models I have built how do I assess the performance
# This is the objective of this week's lecture and one method that I will use to assess the fit of my models will be
# the residual sum of squares (RSS)
# So lets get cracking!!!!

In [2]:
# I use the graphlab environment. So fire up graphlab

In [3]:
import graphlab

In [4]:
# I learnt another python trick here. I love this course cos I am always learning something new about python
# It is called lambda. I can write a lambda and then use the function apply to apply that lambda to a dataset.
# Here we wrote a lambda function that just takes the cube of a variable, x. Thats just how this function rolls. Just 'cubing'
# stuff. 
# I will then apply this lambda function to a an array that contains numbers and my lambda function will then take all
# those numbers in the array and return thier cubes.

In [5]:
# creating an array called tmp that contains numbers 1,2,3
tmp = graphlab.SArray([1., 2., 3.])
# Using my lambda function to get the cubes of the tmp array
tmp_cubed = tmp.apply(lambda x: x**3)
# Print the tmp array and the tmp_cubed array. Observe that tmp_cubed is just the cube of tmp
print tmp
print tmp_cubed

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1471478237.log

This non-commercial license of GraphLab Create for academic use is assigned to emechebe@ohsu.edu and will expire on June 11, 2017.
[1.0, 2.0, 3.0]
[1.0, 8.0, 27.0]

In [6]:
# This is another neat trick but it is implemented in graphlab.
# You can create an empty frame and then later on start adding columns to the frame

In [7]:
# Create an empty sframe

In [8]:
empty_sframe = graphlab.SFrame()

In [9]:
empty_sframe

Columns:
	None

Rows: 0

Data:
	[]

In [10]:
# Now we can add the arrays tmp and tmp_cubed to our new empty frame as new columns into the empty_sframe
# Hey we can even name the new columns , so we can refer to them later.

In [11]:
# Lets add the tmp array to our currently empty_sframe. Lets call it power_1 to reflect the relationship it has with tmp_cubed

In [12]:
empty_sframe['power_1'] = tmp

In [13]:
empty_sframe

Columns:
	power_1	float

Rows: 3

Data:
+---------+
| power_1 |
+---------+
|   1.0   |
|   2.0   |
|   3.0   |
+---------+
[3 rows x 1 columns]

In [14]:
# As you can see from above the name empty_sframe kinda sounds stupid now. This contains one column that is named power_1
# with three rows. However, I am going to keep calling it empty_sframe. If you think thats dumb, well thats cos it is.

In [15]:
# Lets add the other array, tmp_cubed. Since we called the first one power_1, guess what...power_3 becomes appropriate
# for the tmp_cubed.

In [16]:
empty_sframe['power_3'] = tmp_cubed

In [17]:
empty_sframe

Columns:
	power_1	float
	power_3	float

Rows: 3

Data:
+---------+---------+
| power_1 | power_3 |
+---------+---------+
|   1.0   |   1.0   |
|   2.0   |   8.0   |
|   3.0   |   27.0  |
+---------+---------+
[3 rows x 2 columns]

In [18]:
# Yeahhhh...now we have an array of 2 columns(Power_1 and _3) and 3 rows.

In [19]:
# If you think about it (which admittedly thats one thing I suck at), you will notice that we have all the ingredients we
# need to write a function that will generate an sframe that contains a column of numbers (features) and different
# columns that will contains different powers of the first column.

In [20]:
# Lets call this function , polynomial_sframe. This function will take 2 arguments. A feature which is basically one column
# containing a row of numbers will be one of the arguments. The second argument will be the degree which is basically the 
# the number of powers that the feature will be raised to.

In [21]:
def polynomial_sframe(feature, degree):
    
    
    # Lets create an empty frame
    poly_sframe = graphlab.SFrame()
    # This will take the feature and assign as the first column of our empty sframe
    poly_sframe ['power_1'] = feature
    
    # Now lets start adding extra columns to the frame and the extra columns will be powers of the first column
    
    # First we check to make sure that the degree we supplied is greater than 1 
    if degree > 1 :
        
        # Once thats confirmed , we then go into a for loop where we loop through the column addition based on the
        # number of degrees specified.
        for power in range(2, degree+1):
            # Lets give the new column we are generating a name:
            name = 'power_' + str(power) # This generates name in the format of power plus the ith loop
            
            # Lets now generate the ith power of our feature
            power_feature = feature.apply(lambda x: x**power)
            
            # Now add it to the sframe 
            poly_sframe[name] = power_feature
            
            
    return poly_sframe

In [22]:
# Now take this function for a test run. Lets give it our tmp data as feature and then make it generate extra columns
# that are powers of 2,3 and 4 of our tmp data.

In [23]:
print polynomial_sframe(tmp, 4)

+---------+---------+---------+---------+
| power_1 | power_2 | power_3 | power_4 |
+---------+---------+---------+---------+
|   1.0   |   1.0   |   1.0   |   1.0   |
|   2.0   |   4.0   |   8.0   |   16.0  |
|   3.0   |   9.0   |   27.0  |   81.0  |
+---------+---------+---------+---------+
[3 rows x 4 columns]

In [24]:
# Voila..you see the function works! We created powers of 2 , 3 and 4 for our tmp array

In [25]:
# Now lets working with real data. Remember the data we will be using is the sales data.

In [26]:
# Importing the data as an sframe

In [27]:
sales = graphlab.SFrame('kc_house_data.gl/')

In [28]:
# Lets remind ourselves of how the data looks like:

In [29]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
# For this assignment we are interested in just two columns here. The price column which we will be trying to predict with
# our models and the sqft_living which will be our feature that we will try and use to predict prices.
# We are going to be plotting and visualisation (Yeah!!!! finally some plotting).
# As a result of that, we will sort the data by sqft living
# If there is two values that are the same, we will break the tie by the price column

In [31]:
sales = sales.sort(['sqft_living', 'price'])

In [32]:
sales

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 3980300371 | 2014-09-26 00:00:00+00:00 | 142000.0 |   0.0    |    0.0    |
| 2856101479 | 2014-07-01 00:00:00+00:00 | 276000.0 |   1.0    |    0.75   |
| 1723049033 | 2014-06-20 00:00:00+00:00 | 245000.0 |   1.0    |    0.75   |
| 1222029077 | 2014-10-29 00:00:00+00:00 | 265000.0 |   0.0    |    0.75   |
| 6896300380 | 2014-10-02 00:00:00+00:00 | 228000.0 |   0.0    |    1.0    |
| 9266700190 | 2015-05-11 00:00:00+00:00 | 245000.0 |   1.0    |    1.0    |
| 6303400395 | 2015-01-30 00:00:00+00:00 | 325000.0 |   1.0    |    0.75   |
| 4322200105 | 2015-03-31 00:00:00+00:00 | 229050.0 |   1.0    |    1.0    |
| 7549801385 | 2014-06-12 00:00:00+00:00 | 280000.0 |   1.0    |    0.75   |
| 8658300340 | 2014-05-23 00:00:00+00:00 | 80000.0  |   1.0    |    0.75   |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    290.0    |  20875   |   1    |     0      |  0   |     1     |   1   |    290     |
|    370.0    |   1801   |   1    |     0      |  0   |     5     |   5   |    370     |
|    380.0    |  15000   |   1    |     0      |  0   |     3     |   5   |    380     |
|    384.0    |  213444  |   1    |     0      |  0   |     3     |   4   |    384     |
|    390.0    |   5900   |   1    |     0      |  0   |     2     |   4   |    390     |
|    390.0    |   2000   |   1    |     0      |  0   |     4     |   6   |    390     |
|    410.0    |   8636   |   1    |     0      |  0   |     2     |   4   |    410     |
|    420.0    |   3298   |   1    |     0      |  0   |     4     |   4   |    420     |
|    420.0    |   6720   |   1    |     0      |  0   |     3     |   5   |    420     |
|    430.0    |   5050   |   1    |     0      |  0   |     2     |   4   |    430     |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1963   |      0       |  98024  | 47.53077245 |
|       0       |   1923   |      0       |  98117  | 47.67782145 |
|       0       |   1963   |      0       |  98168  | 47.48103428 |
|       0       |   2003   |      0       |  98070  | 47.41772688 |
|       0       |   1953   |      0       |  98118  | 47.52604001 |
|       0       |   1920   |      0       |  98103  | 47.69377314 |
|       0       |   1953   |      0       |  98146  |  47.5076723 |
|       0       |   1949   |      0       |  98136  |  47.5374761 |
|       0       |   1922   |      0       |  98108  | 47.55198122 |
|       0       |   1912   |      0       |  98014  | 47.64994341 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -121.88842327 |     1620.0    | ... |
| -122.38911208 |     1340.0    | ... |
|  -122.322601  |     1170.0    | ... |
| -122.49121696 |     1920.0    | ... |
| -122.26142752 |     2170.0    | ... |
| -122.34662226 |     1340.0    | ... |
| -122.35672193 |     1190.0    | ... |
|  -122.391385  |     1460.0    | ... |
| -122.31082137 |     1420.0    | ... |
| -121.90868353 |     1200.0    | ... |
+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [33]:
# Now lets call the polynomial_sframe function on the sqft_living as features and use just 1 degree

In [34]:
poly1_data = polynomial_sframe(sales['sqft_living'], 1)

In [35]:
poly1_data

Columns:
	power_1	float

Rows: 21613

Data:
+---------+
| power_1 |
+---------+
|  290.0  |
|  370.0  |
|  380.0  |
|  384.0  |
|  390.0  |
|  390.0  |
|  410.0  |
|  420.0  |
|  420.0  |
|  430.0  |
+---------+
[21613 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [36]:
# As you can see we have an sframe that is just the values of the sqft_living in the sales data
# Our plan is to use this feature to predict price.
# So lets add the price column to this sframe, since we are going to predict it

In [37]:
poly1_data['price'] = sales['price']

In [38]:
poly1_data

Columns:
	power_1	float
	price	float

Rows: 21613

Data:
+---------+----------+
| power_1 |  price   |
+---------+----------+
|  290.0  | 142000.0 |
|  370.0  | 276000.0 |
|  380.0  | 245000.0 |
|  384.0  | 265000.0 |
|  390.0  | 228000.0 |
|  390.0  | 245000.0 |
|  410.0  | 325000.0 |
|  420.0  | 229050.0 |
|  420.0  | 280000.0 |
|  430.0  | 80000.0  |
+---------+----------+
[21613 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [39]:
# Now you see we have 2 columns, power_1 which is just the sqft_living and price column

In [40]:
# Now lets create a simple linear regression model where we are using the power_1 feature to predict the price column
# I am using the in-built linear regression function to do this.

In [41]:
model1 = graphlab.linear_regression.create(poly1_data, target = 'price', features = ['power_1'], validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 1

Number of unpacked features : 1

Number of coefficients    : 2

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.029104     | 4362074.696077     | 261440.790724 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [42]:
# So what is the weight assigned to power_1 in this model. And what the intercept of this model?
# We can use the .get('coefficients') function to get this information

In [43]:
model1.get("coefficients")

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 2

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -43579.0852515 | 4402.68969743 |
|   power_1   |  None | 280.622770886  | 1.93639855513 |
+-------------+-------+----------------+---------------+
[2 rows x 4 columns]

In [44]:
# Note this says parameter w_o is -43579 which is the intercept
# The w_1 is 280 which is basically the slope with respect to power_1. 
# Price of house i = w_o + w_1(power_1 of house i) becomes y = -43579 + 280(power_1 of house i)

In [45]:
# Now that we have the parameters of the line of best fit, we can now use this to predict the prices of houses
# when given a particular sqft_living parameter. 
# There is a function called predict that does that and predict all of them, its called .predict.
# So use that and the model that we just built to predict the prices of the houses in the data set

In [46]:
# The predict function takes the model that we subscribed to it and predicts the target of the data passed to it

In [47]:
model1.predict(poly1_data)

dtype: float
Rows: 21613
[37801.51830544391, 60251.33997631175, 63057.56768517023, 64180.05876871363, 65863.79539402871, 65863.79539402871, 71476.25081174567, 74282.47852060416, 74282.47852060416, 77088.70622946264, 79894.93393832112, 85507.38935603808, 88313.61706489656, 88313.61706489656, 91119.84477375506, 91119.84477375506, 93926.07248261353, 96732.30019147202, 102344.75560918899, 102344.75560918899, 102344.75560918899, 102344.75560918899, 102344.75560918899, 102344.75560918899, 105150.98331804745, 105150.98331804745, 105150.98331804745, 107957.21102690595, 107957.21102690595, 110763.43873576442, 110763.43873576442, 110763.43873576442, 110763.43873576442, 113569.66644462291, 113569.66644462291, 113569.66644462291, 113569.66644462291, 116375.89415348138, 116375.89415348138, 116375.89415348138, 119182.12186233987, 119182.12186233987, 119182.12186233987, 119182.12186233987, 119182.12186233987, 121988.34957119834, 121988.34957119834, 121988.34957119834, 121988.34957119834, 121988.34957119834, 124794.57728005684, 124794.57728005684, 124794.57728005684, 124794.57728005684, 124794.57728005684, 124794.57728005684, 124794.57728005684, 127600.8049889153, 127600.8049889153, 127600.8049889153, 127600.8049889153, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 130407.0326977738, 133213.26040663227, 133213.26040663227, 133213.26040663227, 133213.26040663227, 133213.26040663227, 136019.48811549076, 136019.48811549076, 136019.48811549076, 136019.48811549076, 136019.48811549076, 138825.71582434923, 138825.71582434923, 138825.71582434923, 141631.9435332077, 141631.9435332077, 141631.9435332077, 141631.9435332077, 141631.9435332077, 141631.9435332077, 144438.1712420662, 144438.1712420662, 144438.1712420662, 144438.1712420662, 144438.1712420662, 144438.1712420662, 144438.1712420662, 144438.1712420662, ... ]

In [48]:
# Voila...Note, what we have are not the actual prices. They are the prices of the houses as predicted by the model we built

In [48]:
# Hey, you know whats even cooler. We can use plot the sqft_living (power_1) on the x-axis (feature) and the actual prices.
# Note that this will be a scatter plot.
# Also in the same plot we can plot another power_1 and the predicted prices. This will be a straight line.
# You can use this to visualize how different the predicted prices is with the actual price

In [49]:
# First we import matplotlib

In [49]:
import matplotlib.pyplot as plt

In [50]:
# The plot what we just started

In [51]:
plt.plot(poly1_data['power_1'],poly1_data['price'],'.',
    poly1_data['power_1'], model1.predict(poly1_data),'-')

[<matplotlib.lines.Line2D at 0x128347610>,
 <matplotlib.lines.Line2D at 0x1283476d0>]

In [52]:
# Note the first plot will be featured as dots '.' while the second plot is straight line '-'

In [53]:
# Now lets see the plot

In [54]:
plt.savefig('plot1.pdf', format='pdf')

In [55]:
# Ok, this is a straight line and it was a degree 1. What if we want to model our data with a degree 2 polynomial
# Easy, we just pass the feature and the degree argument to get the polynomial_sframe to generate the second degree polynomia

In [56]:
poly2_data = polynomial_sframe(sales['sqft_living'], 2)

In [57]:
poly2_data

Columns:
	power_1	float
	power_2	float

Rows: 21613

Data:
+---------+----------+
| power_1 | power_2  |
+---------+----------+
|  290.0  | 84100.0  |
|  370.0  | 136900.0 |
|  380.0  | 144400.0 |
|  384.0  | 147456.0 |
|  390.0  | 152100.0 |
|  390.0  | 152100.0 |
|  410.0  | 168100.0 |
|  420.0  | 176400.0 |
|  420.0  | 176400.0 |
|  430.0  | 184900.0 |
+---------+----------+
[21613 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [58]:
# Now we want to collect the features we are going to use to predict the target, which is price

In [59]:
my_features = poly2_data.column_names()

In [60]:
my_features

['power_1', 'power_2']

In [61]:
# Ok since we are predicting the house prices, we should then attach it to the data so we can use it to build our model

In [62]:
poly2_data['price'] = sales['price']

In [63]:
poly2_data

Columns:
	power_1	float
	power_2	float
	price	float

Rows: 21613

Data:
+---------+----------+----------+
| power_1 | power_2  |  price   |
+---------+----------+----------+
|  290.0  | 84100.0  | 142000.0 |
|  370.0  | 136900.0 | 276000.0 |
|  380.0  | 144400.0 | 245000.0 |
|  384.0  | 147456.0 | 265000.0 |
|  390.0  | 152100.0 | 228000.0 |
|  390.0  | 152100.0 | 245000.0 |
|  410.0  | 168100.0 | 325000.0 |
|  420.0  | 176400.0 | 229050.0 |
|  420.0  | 176400.0 | 280000.0 |
|  430.0  | 184900.0 | 80000.0  |
+---------+----------+----------+
[21613 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [64]:
# Ok build the model using the linear regression create function

In [65]:
model2 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 2

Number of unpacked features : 2

Number of coefficients    : 3

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.016631     | 5913020.984255     | 250948.368758 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [66]:
# Now lets plot our predicted prices and see how it models the actual prices

In [67]:
plt.plot(poly2_data['power_1'],poly2_data['price'],'.',
poly2_data['power_1'], model2.predict(poly2_data),'-')

[<matplotlib.lines.Line2D at 0x12ad66810>,
 <matplotlib.lines.Line2D at 0x12ad66850>]

In [68]:
plt.savefig('plot2.pdf', format='pdf')

In [69]:
# Oh , yeah. This just overlaid the current plot with the previous plot. Actually, that looked cool!
# I can compare the lines of best fit from both models on the same plot.
# Note if you want separate plots, then you need to clear the plots using the function plt.clf()

In [70]:
# I can get the co-efficients so I can see the weights attached to each feature

In [71]:
model2.get("coefficients")

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 3

Data:
+-------------+-------+-----------------+-------------------+
|     name    | index |      value      |       stderr      |
+-------------+-------+-----------------+-------------------+
| (intercept) |  None |  199222.496445  |   7058.00483552   |
|   power_1   |  None |  67.9940640677  |   5.28787201316   |
|   power_2   |  None | 0.0385812312789 | 0.000898246547032 |
+-------------+-------+-----------------+-------------------+
[3 rows x 4 columns]

In [72]:
# Ok, that was second degree polynomial. How about third degree poynomial??
# Its same routine, except we pass the degree as 3

In [73]:
poly2_data = polynomial_sframe(sales['sqft_living'], 3)
my_features = poly2_data.column_names()

In [74]:
my_features

['power_1', 'power_2', 'power_3']

In [75]:
# Attaching the target column to the data set

In [76]:
poly2_data['price'] = sales['price']

In [77]:
poly2_data

Columns:
	power_1	float
	power_2	float
	power_3	float
	price	float

Rows: 21613

Data:
+---------+----------+------------+----------+
| power_1 | power_2  |  power_3   |  price   |
+---------+----------+------------+----------+
|  290.0  | 84100.0  | 24389000.0 | 142000.0 |
|  370.0  | 136900.0 | 50653000.0 | 276000.0 |
|  380.0  | 144400.0 | 54872000.0 | 245000.0 |
|  384.0  | 147456.0 | 56623104.0 | 265000.0 |
|  390.0  | 152100.0 | 59319000.0 | 228000.0 |
|  390.0  | 152100.0 | 59319000.0 | 245000.0 |
|  410.0  | 168100.0 | 68921000.0 | 325000.0 |
|  420.0  | 176400.0 | 74088000.0 | 229050.0 |
|  420.0  | 176400.0 | 74088000.0 | 280000.0 |
|  430.0  | 184900.0 | 79507000.0 | 80000.0  |
+---------+----------+------------+----------+
[21613 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [78]:
# Building the model using these features and target

In [79]:
model3 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 3

Number of unpacked features : 3

Number of coefficients    : 4

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.022869     | 3261066.736007     | 249261.286346 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [80]:
# Get coefficients

In [81]:
model3.get("coefficients")

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 4

Data:
+-------------+-------+-------------------+------------------+
|     name    | index |       value       |      stderr      |
+-------------+-------+-------------------+------------------+
| (intercept) |  None |   336788.117952   |  10661.0153713   |
|   power_1   |  None |   -90.1476236119  |  10.6222891844   |
|   power_2   |  None |   0.087036715081  | 0.00296630623148 |
|   power_3   |  None | -3.8398521196e-06 | 2.2417490959e-07 |
+-------------+-------+-------------------+------------------+
[4 rows x 4 columns]

In [82]:
# Clearing plot, so I can have one single plot in the output

In [83]:
plt.clf()

In [84]:
# Plotting the predicted values from the model and comparing it to actual prices

In [85]:
plt.plot(poly2_data['power_1'],poly2_data['price'],'.',
poly2_data['power_1'], model3.predict(poly2_data),'-')

[<matplotlib.lines.Line2D at 0x12b09ad50>,
 <matplotlib.lines.Line2D at 0x12b09a9d0>]

In [86]:
plt.savefig('plot3.pdf', format='pdf')

In [87]:
# Now how about using the 15th polynomial of sqft_living to predict house prices?
# lets do it!

In [88]:
poly2_data = polynomial_sframe(sales['sqft_living'], 15)
my_features = poly2_data.column_names()

In [89]:
my_features

['power_1',
 'power_2',
 'power_3',
 'power_4',
 'power_5',
 'power_6',
 'power_7',
 'power_8',
 'power_9',
 'power_10',
 'power_11',
 'power_12',
 'power_13',
 'power_14',
 'power_15']

In [90]:
# Attach the target column to the data set

In [91]:
poly2_data['price'] = sales['price']

In [92]:
# Generate the model using the 15th polynomial as features and the target still remains prices

In [93]:
model15 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 21613

Number of features          : 15

Number of unpacked features : 15

Number of coefficients    : 16

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.018679     | 2662308.584337     | 245690.511190 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [94]:
# Do I want to see it plotted. Of course...
# Oh and plot it on top of the 3rd polynomial so I can compare both on the same plot

In [95]:
plt.plot(poly2_data['power_1'],poly2_data['price'],'.',
poly2_data['power_1'], model15.predict(poly2_data),'-')

[<matplotlib.lines.Line2D at 0x124eeb890>,
 <matplotlib.lines.Line2D at 0x11cac0090>]

In [96]:
plt.savefig('plot4.pdf', format='pdf')

In [97]:
# Pretty cool huh? I think so!

In [98]:
# Our next exercise is to change the data we have been using to generate models
# This time instead of using the entire data set to build our model of the data;
# We split the data into 4 (set_1,set_2,set_3,set_4) and then train our models on each of the 4 data sets
# Then plot each model generated from each data set and compare.
# Hmmm..so in this one it will be fun not to clear out plots
# And just have one plot with all the models plotted in it.
# Lets Usain Bolt this one!

In [99]:
# First split data into 2 sets: One is set1_2 and the other set3_4

In [100]:
set1_2, set3_4 = sales.random_split(.5, seed=0)

In [101]:
# The split the two data sets into two more data sets. Note the .5, says 50 percent, 50 percent sharing

In [102]:
set1, set2 = set1_2.random_split(.5, seed=0)

In [103]:
set3, set4 = set3_4.random_split(.5,seed=0)

In [104]:
# Now generate models for the 15th polynomial of the sqft_living to predict the prices.

In [105]:
poly1_data = polynomial_sframe(set1['sqft_living'], 15)

In [106]:
my_features = poly1_data.column_names()

In [107]:
poly1_data['price'] = set1['price']

In [108]:
model_set1 = graphlab.linear_regression.create(poly1_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 5404

Number of features          : 15

Number of unpacked features : 15

Number of coefficients    : 16

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023543     | 2195218.932304     | 248858.822200 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [109]:
plt.clf()

In [110]:
plt.plot(poly1_data['power_1'],poly1_data['price'],'.',
poly1_data['power_1'], model_set1.predict(poly1_data),'-')

[<matplotlib.lines.Line2D at 0x12b0a44d0>,
 <matplotlib.lines.Line2D at 0x11cab8410>]

In [111]:
model_set1.get("coefficients").print_rows(num_rows = 16)

+-------------+-------+--------------------+-------------------+
|     name    | index |       value        |       stderr      |
+-------------+-------+--------------------+-------------------+
| (intercept) |  None |   223312.750249    |   1256782.60077   |
|   power_1   |  None |   118.086127587    |   6007.14384425   |
|   power_2   |  None |  -0.0473482011344  |    11.969007003   |
|   power_3   |  None | 3.25310342469e-05  |  0.0131429551736  |
|   power_4   |  None | -3.32372152561e-09 | 8.85414511316e-06 |
|   power_5   |  None | -9.75830457761e-14 | 3.83982596813e-09 |
|   power_6   |  None | 1.15440303426e-17  |  1.0847728091e-12 |
|   power_7   |  None | 1.05145869404e-21  | 1.93625236102e-16 |
|   power_8   |  None | 3.46049616546e-26  |  1.8950619488e-20 |
|   power_9   |  None | -1.09654454168e-30 |        nan        |
|   power_10  |  None | -2.42031812009e-34 |  3.4981969864e-29 |
|   power_11  |  None | -1.99601206824e-38 | 2.50800893225e-33 |
|   power_12  |  None | -1.07709903827e-42 | 1.15429777633e-36 |
|   power_13  |  None | -2.72862818141e-47 | 1.56910289863e-40 |
|   power_14  |  None | 2.44782693088e-51  | 7.93831963225e-45 |
|   power_15  |  None | 5.01975232933e-55  | 1.49249715723e-49 |
+-------------+-------+--------------------+-------------------+
[16 rows x 4 columns]

In [112]:
plt.savefig('AllSets.pdf', format='pdf')

In [113]:
# Set 2

In [114]:
poly2_data = polynomial_sframe(set2['sqft_living'], 15)

In [115]:
my_features = poly2_data.column_names()

In [116]:
poly2_data['price'] = set2['price']

In [117]:
model_set2 = graphlab.linear_regression.create(poly2_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 5398

Number of features          : 15

Number of unpacked features : 15

Number of coefficients    : 16

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023305     | 2069212.978547     | 234840.067186 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [118]:
model_set2.get("coefficients").print_rows(num_rows = 16)

+-------------+-------+--------------------+-------------------+
|     name    | index |       value        |       stderr      |
+-------------+-------+--------------------+-------------------+
| (intercept) |  None |   89836.5077327    |   1575072.52605   |
|   power_1   |  None |   319.806946764    |   9306.12882948   |
|   power_2   |  None |  -0.103315397042   |   23.4277359048   |
|   power_3   |  None | 1.06682476069e-05  |  0.0331642866136  |
|   power_4   |  None | 5.75577097718e-09  |  2.9410878859e-05 |
|   power_5   |  None | -2.5466346476e-13  | 1.72262411743e-08 |
|   power_6   |  None | -1.09641345061e-16 |  6.8337583788e-12 |
|   power_7   |  None | -6.36458441713e-21 | 1.84750094523e-15 |
|   power_8   |  None | 5.52560416991e-25  | 3.35734055021e-19 |
|   power_9   |  None | 1.35082038963e-28  | 3.79203635463e-23 |
|   power_10  |  None |  1.1840818825e-32  |        nan        |
|   power_11  |  None | 1.98348000558e-37  |        nan        |
|   power_12  |  None | -9.9253359041e-41  |        nan        |
|   power_13  |  None | -1.60834847047e-44 |        nan        |
|   power_14  |  None | -9.12006024287e-49 | 2.33825680386e-43 |
|   power_15  |  None | 1.68636658328e-52  |  6.7296077272e-48 |
+-------------+-------+--------------------+-------------------+
[16 rows x 4 columns]

In [119]:
plt.plot(poly2_data['power_1'],poly2_data['price'],'.',
poly2_data['power_1'], model_set2.predict(poly2_data),'-')

[<matplotlib.lines.Line2D at 0x11c798ad0>,
 <matplotlib.lines.Line2D at 0x11cab8fd0>]

In [120]:
plt.savefig('AllSets2.pdf', format='pdf')

In [121]:
# Set 3

In [122]:
poly3_data = polynomial_sframe(set3['sqft_living'], 15)

In [123]:
my_features = poly3_data.column_names()

In [124]:
poly3_data['price'] = set3['price']

In [125]:
model_set3 = graphlab.linear_regression.create(poly3_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 5409

Number of features          : 15

Number of unpacked features : 15

Number of coefficients    : 16

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.022876     | 2269769.506521     | 251460.072754 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [126]:
model_set3.get("coefficients").print_rows(num_rows = 16)

+-------------+-------+--------------------+-------------------+
|     name    | index |       value        |       stderr      |
+-------------+-------+--------------------+-------------------+
| (intercept) |  None |   87317.9795547    |        nan        |
|   power_1   |  None |   356.304911045    |        nan        |
|   power_2   |  None |  -0.164817442809   |        nan        |
|   power_3   |  None | 4.40424992697e-05  |        nan        |
|   power_4   |  None | 6.48234876179e-10  |        nan        |
|   power_5   |  None | -6.75253226587e-13 |        nan        |
|   power_6   |  None | -3.36842592661e-17 |        nan        |
|   power_7   |  None | 3.60999704242e-21  |        nan        |
|   power_8   |  None | 6.46999725625e-25  |        nan        |
|   power_9   |  None | 4.23639388865e-29  |        nan        |
|   power_10  |  None | -3.62149427043e-34 |        nan        |
|   power_11  |  None | -4.27119527274e-37 |        nan        |
|   power_12  |  None | -5.61445971705e-41 | 3.22504679661e-36 |
|   power_13  |  None | -3.87452772861e-45 | 3.81940189807e-40 |
|   power_14  |  None | 4.69430359483e-50  | 1.00042633659e-44 |
|   power_15  |  None | 6.39045885992e-53  |        nan        |
+-------------+-------+--------------------+-------------------+
[16 rows x 4 columns]

In [127]:
plt.plot(poly2_data['power_1'],poly2_data['price'],'.',
poly2_data['power_1'], model_set3.predict(poly2_data),'-')

[<matplotlib.lines.Line2D at 0x12c1467d0>,
 <matplotlib.lines.Line2D at 0x12b0d7890>]

In [128]:
plt.savefig('AllSets3.pdf', format='pdf')

In [129]:
# Set 4

In [130]:
poly4_data = polynomial_sframe(set4['sqft_living'], 15)

In [131]:
my_features = poly4_data.column_names()

In [132]:
poly4_data['price'] = set4['price']

In [133]:
model_set4 = graphlab.linear_regression.create(poly4_data, target = 'price', features = my_features, validation_set = None)

Linear regression:

--------------------------------------------------------

Number of examples          : 5402

Number of features          : 15

Number of unpacked features : 15

Number of coefficients    : 16

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023643     | 2314893.173827     | 244563.136754 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [134]:
model_set4.get("coefficients").print_rows(num_rows = 16)

+-------------+-------+--------------------+-------------------+
|     name    | index |       value        |       stderr      |
+-------------+-------+--------------------+-------------------+
| (intercept) |  None |   259020.879454    |   1545198.28029   |
|   power_1   |  None |   -31.7277162076   |    9987.4875763   |
|   power_2   |  None |   0.109702769619   |    26.738101963   |
|   power_3   |  None | -1.58383847337e-05 |  0.0392428614089  |
|   power_4   |  None | -4.47660623786e-09 |  3.515833293e-05  |
|   power_5   |  None | 1.13976573482e-12  | 2.00754862175e-08 |
|   power_6   |  None | 1.97669120547e-16  | 7.24105980967e-12 |
|   power_7   |  None | -6.15783678661e-21 | 1.43187601549e-15 |
|   power_8   |  None | -4.88012304074e-24 |        nan        |
|   power_9   |  None | -6.62186781351e-28 |        nan        |
|   power_10  |  None | -2.70631583161e-32 | 5.65043690743e-27 |
|   power_11  |  None | 6.72370411466e-36  | 9.67662635909e-31 |
|   power_12  |  None | 1.74115646268e-39  |        nan        |
|   power_13  |  None | 2.09188375728e-43  |        nan        |
|   power_14  |  None | 4.78015566061e-48  | 2.37859778541e-43 |
|   power_15  |  None | -4.74535333101e-51 | 1.16454261473e-47 |
+-------------+-------+--------------------+-------------------+
[16 rows x 4 columns]

In [135]:
plt.clf()

In [136]:
plt.plot(poly4_data['power_1'],poly4_data['price'],'.',
poly4_data['power_1'], model_set4.predict(poly4_data),'-')

[<matplotlib.lines.Line2D at 0x12c146b10>,
 <matplotlib.lines.Line2D at 0x12c146910>]

In [137]:
plt.savefig('set4.pdf', format='pdf')

In [138]:
# So from here, you can see that we can actually build any model of any degree that we want of a feature
# Well how do we know which one might be a good model
# One way to assess models (there are other ways) is by the residual sum of squares
# So basically, you want the model with the least residual sum of squares, RSS

In [139]:
# However, to get a model that has the least RSS means we have to generate each potential,
# calculate its RSS and then take the one with the least RSS
# Sounds like something for python to do

In [140]:
# Lets write a function that I call modelgenerator. This takes data, specifically data that I want to use to train
# the algorithm and then it takes a degree.
# This function , modelgenerator, will now generate all the models of the feature from the first degree to
# the ith degree specified the user

In [141]:
def modelgenerator(train_data, degree):
    #For loop to go through the ranges of the degree stipulated
    for i in range(1, degree+1):
        # Building an Sframe of polynomial train data for the current ith degree
        name = 'Data_' + str(i) # Making up the name for the variable
        # Calling the polynomial_sframe function to generate the polynomial data set for the stipulated of the current ith
        name = polynomial_sframe(train_data['sqft_living'], i)
        # Creating a list of the feature to be used for building the model
        feature_list = name.column_names()
        # Add the the target variable to the newly created polynomial_Sframe
        # In this case, the frame is called name and the target variable is price
        # So add a new column called price to name frame and the content will be the price column
        # from the train data that is being used to train the algorithm
        name['price'] = train_data['price']
        
        # Using the new features to build a regression model to predict the target, price
        name_model = graphlab.linear_regression.create(name, target = 'price', features = feature_list, validation_set = None)

In [142]:
# So this function will take your data and take the degree that you provided and generate sframe that contain
# the polynomial for the current ith degree and then generate a model based on that
# Lets take this function for a ride

In [143]:
# What data do we need to pass it?

In [144]:
# lets go back and split our sales data into three data sets:
# training data set
# validation data set
# testing data set

In [145]:
# Splitting data into training/validation and testing

In [146]:
training_and_validation, testing = sales.random_split(.9,seed = 1)

In [147]:
# Now splitting the training/validation into training and validation

In [148]:
training, validation = training_and_validation.random_split(.5, seed = 1)

In [149]:
# Ok good. Lets now pass our training data set to our modelgenerator to see if it works
# here we specify we want up to the 4th degree

In [150]:
modelgenerator(training,4)

Linear regression:

--------------------------------------------------------

Number of examples          : 9761

Number of features          : 1

Number of unpacked features : 1

Number of coefficients    : 2

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.005693     | 4274505.747987     | 262315.114947 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 9761

Number of features          : 2

Number of unpacked features : 2

Number of coefficients    : 3

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.007996     | 4869005.244131     | 255076.149120 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 9761

Number of features          : 3

Number of unpacked features : 3

Number of coefficients    : 4

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.011697     | 3271232.649557     | 249640.623557 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 9761

Number of features          : 4

Number of unpacked features : 4

Number of coefficients    : 5

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

In [151]:
# Yippeee...seems to work as you can see you have information for 4 different models.

In [152]:
# However, I really dont want all the models. I just want a model with the least RSS
# So I will now modify the function so that it computes the RSS, saves it in a list
# Then after it has compiled all the RSS from the different models into a list
# it just takes the minimum and returns the minimum as well as the model that generated it

In [153]:
# One important note, when we generate the model using the training data, we dont want to calculate the RSS using
# the training data. That wont make sense as the model was optimized using it. If we do that, we are just
# gettiing the training error
#We want a new set of data that the model that we just built have not seen. This is where the validation comes
# Now the reason why we split data into training and validation begins to make sense.
# We now use our model to predict our target on the VALIDATION data and calculate the RSS from here.
# So our function now should take three arguments:
# training data: to build the model
# validation data: to calculate the RSS
# the degree: how many polynomials do we want to test?

In [154]:
def modelgenerator(train_data, validation_data, degree):
    List_of_RSS = []
    #For loop to go through the ranges of the degree stipulated
    for i in range(1, degree+1):
        # Building an Sframe of polynomial train data for the current ith degree
        name = 'Data_' + str(i) # Making up the name for the variable
        # Calling the polynomial_sframe function to generate the polynomial data set for the stipulated of the current ith
        name = polynomial_sframe(train_data['sqft_living'], i)
        # Creating a list of the feature to be used for building the model
        feature_list = name.column_names()
        # Add the the target variable to the newly created polynomial_Sframe
        # In this case, the frame is called name and the target variable is price
        # So add a new column called price to name frame and the content will be the price column
        # from the train data that is being used to train the algorithm
        name['price'] = train_data['price']
        # Using the new features to build a regression model to predict the target, price
        name_model = graphlab.linear_regression.create(name, target = 'price', features = feature_list, validation_set = None, verbose=False)
        
        
        # Using the generated model to predict prices on validation_data
        # Building an Sframe of polynomial
        name_validation = 'Data_validation_' + str(i)
        name_validation = polynomial_sframe(validation_data['sqft_living'], i)
        name_validation['price'] = validation_data['price']
        Prediction = name_model.predict(name_validation)
        
        # Now that I have my predictions for the validation data set, I can now compute RSS
        # Remember RSS is the difference between the predicted values and the actual values,
        # squared to remove directions and then sum all of them
        
        validation_errors = Prediction - validation_data['price'] # This gets the difference between actual and predicted
        
        Squared_validation_errors = validation_errors * validation_errors         # Squaring the errors
        
        SumofSquared = sum(Squared_validation_errors)             # Taking the sum. This is the RSS
      
        # Compiling a list of all the RSS accumulated
        List_of_RSS.append(SumofSquared)
    Minimum_RSS = min(List_of_RSS)
    Degree_of_MinimumRSS=(List_of_RSS.index(Minimum_RSS)) + 1
    print Minimum_RSS
    print Degree_of_MinimumRSS
    print List_of_RSS

In [155]:
# Now lets take this function for a ride

In [156]:
modelgenerator(training, validation, 15)

5.89182477809e+14
6
[676709775198045.6, 607090530698013.8, 616714574532760.2, 609129230654381.9, 599177138583682.1, 589182477809203.4, 591717038417877.2, 601558237776794.2, 612563853988436.5, 621744288936063.9, 627012012703948.5, 627757914772014.1, 624738503262082.5, 619369705904741.0, 613089202413657.1]

In [157]:
# Voila. It printed the Min RSS a, then it printed the degree that generated it (the 6th degree polynomial).
# For good measure , it just returned a list of all the RSS
# I just put that in there just to check and make sure everything is working properly under the hood. Seems groovy to me

In [158]:
# Cool. So this says the 6th polynomial is the best model as defined by the least RSS for all the models

In [159]:
# So now I can use the 6th polynomial to generate a model using the training data.
# And then test it out on the test data. Remenber that test data that we split from the sales data
# Now we are gonna use it for the first time, just to see how well our model is doing or generalising 
# to 'new' data sets
# This is just a matter of tweaking the original function
# But instead of a for loop to generate all models, it just generates one which is the 6th
# Then use it to predict prices of the test data
# The calculate the RSS

In [160]:
def Onedegree(train_data,test_data, degree):
        # This function takes a data set and the degree number. Use that degree number to predict the prices of the test data
        # Building an Sframe of polynomial train data for the current ith degree
         
        # Calling the polynomial_sframe function to generate the polynomial data set for the stipulated of the current ith
        name = 'Power_'+ str(degree)
        name = polynomial_sframe(train_data['sqft_living'], degree)
        # Creating a list of the feature to be used for building the model
        feature_list = name.column_names()
        # Add the the target variable to the newly created polynomial_Sframe
        # In this case, the frame is called name and the target variable is price
        # So add a new column called price to name frame and the content will be the price column
        # from the train data that is being used to train the algorithm
        name['price'] = train_data['price']
        # Using the new features to build a regression model to predict the target, price
        name_model = graphlab.linear_regression.create(name, target = 'price', features = feature_list, validation_set = None, verbose=False)
        
        
        # After building model, using the model to predict our test data
        # Building an Sframe of polynomial
        name_test = 'Data_test_' + str(degree)
        name_test = polynomial_sframe(test_data['sqft_living'], degree)
        name_test['price'] = test_data['price']
        Prediction = name_model.predict(name_test)
        
        
        # Calculating the RSS
        test_errors = Prediction - test_data['price'] # This gets the difference between actual and predicted
        
        Squared_test_errors = test_errors * test_errors         # Squaring the errors
        
        SumofSquared = sum(Squared_test_errors)
        
        print SumofSquared

In [161]:
# I called this function Onedegree...to reflect that it just generates one single model..
# This should tell you never to seek advice from me for names. I suck at naming!

In [162]:
# Ok, so I pass it the training data, the test data and the degree that was described as the best 
# by my modelgenerator

In [163]:
# Oh one more thing: Notice that the output of all the linear.regression.create thingy gives you extra stuff
# If you dont want all that extra crap as output, verbose to False. I did that

In [164]:
Onedegree(training,testing, 6)

1.25529337848e+14

In [165]:
# See...the RSS for this is whatever that number is

In [ ]:
# So this is one way to assess the fit of models: RSS.
# However, there are other ways to assess our models
# Next lecture will show us those ways